<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="CourseSelect.connectionstring"
       connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\晓枫\Documents\c#项目3\c#项目\CourseSelect.mdb"
         providerName ="System.data.oleDb"/>
  </connectionStrings>
</configuration>